body {
  margin: 0;
  font-family: 'Rounded Mplus 1c', sans-serif;
  background-color: #e0f7fa;
}

.App {
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  display: block;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #b3e5fc;
}
